.tab-item {
  display: inline-block;
  margin: 2px;
  padding: 2px 12px 2px 12px;
  color: white;
  background-color: #cccccc;
  border-radius: 2px;
  cursor: pointer;
}

.tab-item:hover {
  background-color: #bbbbbb;
}

.tab-selected {
  border-bottom: 2px solid cornflowerblue;
}

